@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
 * {
	 box-sizing: border-box;
-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}
 body {
	 background-image: linear-gradient(to left, #0e1c1d, #332828, #1b1616, #0e1718);
   /* background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%); */

	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 height: 100vh;
	 font-family: 'Open Sans', sans-serif;
   margin: 0;
   padding: 0;
}
 a {
	 text-decoration: none;
}
 h1 {
	 font-family: 'Open Sans', sans-serif;
	 font-weight: 700;
   font-size: 23px;
   text-shadow: 0px 0px 8px #000000,0 0 8px #0000FF;
}
 .row {
   margin: 0;
   padding: 0;
}
 .card {
  max-width: 1000px;
   margin: 3px auto 0;
	 background: transparent;
	 padding: 0 0.3rem;
	 width: 100%;
}
 .card .menu-content {
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
}
 .card .menu-content::before, .card .menu-content::after {
	 content: '';
	 display: table;
}
 .card .menu-content::after {
	 clear: both;
}
 .card .menu-content li {
	 display: inline-block;
}
 .card .menu-content a {
	 color: #fff;
}
 .card .menu-content span {
	 position: relative;
	 top: 0;
	 font-size: 9px;
	 font-family: 'Open Sans';
	 transform: translate(-50%, 0);
}
 .card .wrapper {
	 background: transparent;
	 min-height: 540px;
	 position: relative;
   border-radius: 15px;
	 overflow: hidden;
	 box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
}
 .card .wrapper:hover .data {
	 transform: translateY(0);
}
 .card .data {
	 position: absolute;
	 bottom: 0;
	 width: 100%;
	 transform: translateY(calc(70px + 1em));
	 transition: transform 0.3s;
}
 .card .data .content {
	 padding: 0em 1em 0.05em;
	 position: relative;
	 z-index: 1;
}
 .card .author {
	 font-size: 12px;
   font-weight: bold;
	 margin-bottom: 10px;
}
 .card .title {
	 
	 font-size: 25px;
}
.card .backdrop {
/*   border-radius: 8px; */
  /* backdrop-filter: blur(5.0px); */
  margin-top: 0px;
/*   padding-bottom: 0px; */
}
 .card .text {
	 height: 60px;
	 
  margin-top: 0px;
	 margin-bottom: 4em;
   font-size: 14px;
   font-weight: 430;
   text-shadow: 0.5px 0.5px 2px #000000,0.5px 0.5px 2px #000000
}
 .card input[type='checkbox'] {
	 display: none;
}
 .card input[type='checkbox']:checked + .menu-content {
	 transform: translateY(-60px);
}

 .example-2 .wrapper {
	 background: center / cover no-repeat;
}
 .example-2 .wrapper:hover .menu-content span {
	 transform: translate(-50%, -10px);
	 opacity: 1;
}
 .example-2 .header {
	 color: #fff;
	 padding: 1em;
}
 .example-2 .header::before, .example-2 .header::after {
	 content: '';
	 display: table;
}
 .example-2 .header::after {
	 clear: both;
}
 .example-2 .header .date {
	 float: left;
	 font-size: 12px;
}
 .example-2 .menu-content {
	 float: right;
}
 .example-2 .menu-content li {
	 margin: 0 05px;
	 position: relative;
   
}
 .example-2 .menu-content span {
	 transition: all 0.3s;
	 opacity: 0;
}
 .example-2 .data {
	 color: #fff;
	 transform: translateY(calc(70px + 4em));
}
 .example-2 .title a {
	 color: #fff;
}
 .example-2 .button {
	 display: block;
	 width: 100px;
	 margin: 3em auto 0.2em;
	 text-align: center;
	 font-size: 12px;
	 color: #fff;
	 line-height: 1.5;
	 position: relative;
	 font-weight: 700;
}
 .example-2 .button::after {
	 content: '\2192';
	 opacity: 0;
	 position: absolute;
	 right: 0;
	 top: 50%;
	 transform: translate(0, -50%);
	 transition: all 0.3s;
}
 .example-2 .button:hover::after {
	 transform: translate(5px, -50%);
	 opacity: 1;
}



/* .header:hover{
backdrop-filter: blur(22px) grayscale(0.8) opacity(0.9);
} */
.example-2:active .data{
  backdrop-filter: blur(22px) grayscale(0.8) opacity(0.9);
  
}

  .mbutton {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 22px;
    color: #FFFFFF;
    padding: 7px;
    margin-top: 3px;
    width: 100%;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .mbutton:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .mbutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }  



 
